{% extends 'base.html' %}

{% block homeactive %}active{% endblock homeactive %}

{% block body %}
    <div class="container my-3">
        <h2 class="text-center">Add a Task!</h2>
        <form action="/" method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="title">Task Title</label>
              <input type="text" class="form-control" id="tile" name="title" placeholder="Enter your task">
            </div>
            <div class="form-group">
              <label for="desc">Task Description</label>
              <textarea name="desc" class="form-control" id="desc" cols="30" rows="10" placeholder="Describe your task"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
{% endblock body %}